<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/style.css")
        title BS Test
    body
        main.main.container
            section.assortment
                h2.assortment__title Представлен в брендах
                ul.assortment__brands-list
                    li.assortment__brands-item.all-brands 
                        button.assortment__brands-item-button
                            span Все бренды
                    li.assortment__brands-item
                        button.assortment__brands-item-button.active-tab
                            img(src="./assets/images/bonfesto.png", alt="bonfesto logo")
                    li.assortment__brands-item
                        button.assortment__brands-item-button
                            img(src="./assets/images/villmonte.png", alt="villmonte logo")
                    li.assortment__brands-item
                        button.assortment__brands-item-button
                            img(src="./assets/images/CooKing.png", alt="cooking logo")
                ul.assortment__products-list
                    li.assortment__products-item.product
                        img(src="./assets/images/cheese1.png", alt="bonfesto cream cheese тар-тар")
                        p.product__category Сыр мягкий
                        h3.product__name
                            a(href="#").product__title КРЕМЧИЗ
                                span.product__title-flavour тар-тар
                        .product__brand-logo
                            img(src="./assets/images/bonfesto.png", alt="bonfesto logo")
                        p.product__description Прекрасно заменяет классический французский соус из желтка, растительного масла и зеленого лука.               
                    li.assortment__products-item.product
                        img(src="./assets/images/cheese2.png", alt="bonfesto cream cheese хрен")
                        p.product__category Сыр мягкий
                        h3.product__name
                            a(href="#").product__title КРЕМЧИЗ
                                span.product__title-flavour хрен
                        .product__brand-logo
                            img(src="./assets/images/bonfesto.png", alt="bonfesto logo")
                        p.product__description Хорош для бутербродов с рыбой или мясом. Можно добавлять в салаты для пикантного вкуса.
                    li.assortment__products-item.product
                        img(src="./assets/images/cheese3.png", alt="bonfesto cream cheese неаполитанский")
                        p.product__category Сыр мягкий
                        h3.product__name
                            a(href="#").product__title КРЕМЧИЗ
                                span.product__title-flavour неаполитанский
                        .product__brand-logo
                            img(src="./assets/images/bonfesto.png", alt="bonfesto logo")
                        p.product__description Идеален для курицы, отлично сочетается  с говядиной в блюдах средиземноморской кухни.
                    li.assortment__products-item.product
                        img(src="./assets/images/cheese3.png", alt="bonfesto cream cheese неаполитанский")
                        p.product__category Сыр мягкий
                        h3.product__name
                            a(href="#").product__title КРЕМЧИЗ
                                span.product__title-flavour неаполитанский
                        .product__brand-logo
                            img(src="./assets/images/bonfesto.png", alt="bonfesto logo")
                        p.product__description Идеален для курицы, отлично сочетается  с говядиной в блюдах средиземноморской кухни.
                    li.assortment__products-item.product
                        img(src="./assets/images/cheese1.png", alt="bonfesto cream cheese тар-тар")
                        p.product__category Сыр мягкий
                        h3.product__name
                            a(href="#").product__title КРЕМЧИЗ
                                span.product__title-flavour тар-тар
                        .product__brand-logo
                            img(src="./assets/images/bonfesto.png", alt="bonfesto logo")
                        p.product__description Прекрасно заменяет классический французский соус из желтка, растительного масла и зеленого лука.
