$olive: #8fb52c;
$light-gray: #f5f3e8;
$dark-gray: #77716a;
$white: #fff;
$brown: #3c2f20;
$dark-brown: #1d1813;
$blue: #5b84f0;

$text: $dark-brown;
$text-brands-tab: $dark-gray;
$text-product-title: $brown;
$text-product-title-hover: $blue;

$page-bg: $white;
$brands-list-item-bg: $light-gray;
$bonfesto-logo-bg: $olive;
